body{
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
    background-color:black;
    color:white;}

.sticky{
    height: auto;
    line-height: 50px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;}

.sticky01{
    border:1px solid red;   
    height: auto;
    line-height: 50px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    min-height:400px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter:blur(10px)
}
img{width:100%;}
.header01{color:white;
    background-color:aquamarine} 
