body{
background-color:black;
color:white;}


.cat01{
	background: url('https://seircoinhome.files.wordpress.com/2020/10/top-10-football-girls-wallpapers-11.jpg?w=775');
		background-position:fixed;
	color:white;
	font-family:monospace;
	text-align:center;
	border:2px solid white;
	margin: 5px 10px;
	display:inline;
	float:left;
	border-radius:50px;
	padding:10px;
}